{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    <title>{% block title %}Менеджер задач Hexlet{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Менеджер задач</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {# Ссылка на пользователей С пространством имен #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:index' %}">Пользователи</a>
                    </li>
                    {% if user.is_authenticated %}
                        {# Ссылка на статусы С пространством имен #}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'statuses:index' %}">Статусы</a>
                        </li>
                        {# Позже здесь будут Метки и Задачи #}
                    {% endif %}
                </ul>
                <ul class="navbar-nav"> {# Ссылки слева #}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                             {# Ссылка на выход БЕЗ пространства имен #}
                            <form action="{% url 'logout' %}" method="post" class="nav-link p-0">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link">Выход</button>
                            </form>
                        </li>
                    {% else %}
                         <li class="nav-item">
                             {# Ссылка на вход БЕЗ пространства имен #}
                            <a class="nav-link" href="{% url 'login' %}">Вход</a>
                         </li>
                         <li class="nav-item">
                             {# Ссылка на регистрацию С пространством имен users #}
                            <a class="nav-link" href="{% url 'users:create' %}">Регистрация</a>
                         </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% bootstrap_messages %}
    </div>

    <main class="container flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

     <footer class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://github.com/Jevda">Jevda</a>
     </footer>

    {% bootstrap_javascript %}
</body>
</html>